body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.navbar-custom {
  background-color: #f8f9fa; /* Adjust as necessary */
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1000px;
  height: calc(100vh - 56px); /* Adjust for navbar height */
}

.form-content {
  width: 500px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
}

.form-input, .form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn-primary {
  width: 100%;
  padding: 10px;
}
