.dashboard {
    width: 100%;
    height: 100vh;

    position: relative;
    display: flex;
}

.right-section {

    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;



}


.Sidesection {
    width: 20%;
    height: 100vh;
    background-color: #0C213A;
    display: flex;
    flex-direction: column;

}

.top-navbar {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.left-section {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2EDF3;



}


.Sidesection li a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;

}